.row {
	list-style: none;
}

.grid {
	float: left;
	width: 5%;
	text-align: center;
	color: black;
}

.row-div {
	width: 100%;
}

.largest {
	background-color: green;
	color: white;
}

.loss-of-largest.loser {
	color: black;
	background-color: white;
}